.footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $colour-primary;

    &__4K-screen
    {
        max-width: 1600px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        a
        {
            margin: 0px;
            padding: 10px 20px;
            font-size: $fontSize-footer;
            color: $colour-secondary;

            &:hover
            {
                animation: wiggle-effect 100ms cubic-bezier(.4,.1,.6,.9);
                animation-iteration-count: 3;
            }

            @media screen and (max-width: 1028px) {
                font-size: $fontSize-footer-mobile;
            }
        }
    }
    
}