a
{
    text-decoration: none;
    color: #000000;
}

/*  HEADER  */
header
{
    background-color: #579c87;
}
header h1
{
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Arial black';
    font-size: 2em;
    color: #fdcb46;
}

/*  FOOTER  */
footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #579c87;
}
footer a
{
    margin: 0px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fdcb46;
}