.soon
{
    background-color: $colour-primary;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin-bottom: 70px;
    padding: 10px 50px;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: $colour-secondary;
}