.button
{
    background-color: $colour-primary;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin-bottom: 70px;
    padding: 10px 50px;
    display: flex;
    span {
        margin: auto;
        font-size: $fontSize-button;
        letter-spacing: 1px;
        color: $colour-secondary;
        margin-right: 7px;

        @media screen and (max-width: $mediaQuery-tablet) {
            font-size: $fontSize-button-tablet;
        }
    }

    @media screen and (max-width: $mediaQuery-tablet) {
        padding: 5px 30px;
        margin-bottom: 50px;
    }
    
    &__loading span
    {
        width: 5px;
        height: 5px;
        margin: 0px 1px;
        background-color: $colour-secondary;
        border-radius: 50%;
        display: inline-block;
        animation-name: dots;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @media screen and (max-width: $mediaQuery-tablet) {
            width: 2px;
            height: 2px;
            margin: 5px 0.1px;
        }

        &:nth-child(2) {
            animation-delay: 0.4s;
        }
        &:nth-child(3) {
            animation-delay: 0.8s;
        }

    }
}