main{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1600px;
    @media screen and (max-width: $mediaQuery-tablet) {
        max-width: 900px;
    }
}

.grille{
    margin-bottom: 110px;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $mediaQuery-tablet) {
            margin-bottom: 110px;
            padding: 20px 40px;
        }

    &__menu{
        margin: 20px;
        width: calc(25% - 41px);
        height: 350px;
        border: #e6e6e6 solid 0.5px;
        box-shadow: 1.5px 1.5px 1.5px $colour-black;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $mediaQuery-tablet) {
            margin: 15px;
            width: calc(50% - 31px);
            height: 350px;
        }
        @media screen and (max-width: $mediaQuery-mobile) {
            margin: 7px;
            width: 100%;
            height: 350px;
        }

        &:hover > .zoom-effect{
            transition: ease .2s;
            opacity: 50%;
            transform: scale(1.1);
        }

        .zoom-effect{
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            opacity: 100%;
            transform: scale(1);
        }

        .music-note-index{
            height: 2.5em;
        }

        span{
            margin: 10px;
        }
        &--la-note-enchantee{
            background-color: $colour-menu1;
        }
        &--le-chic-a-la-francaise{
            background-color: $colour-menu2;
        }
        &--le-delice-des-papilles{
            background-color: $colour-menu3;
        }
        &--la-palette-du-gout{
            background-color: $colour-menu4;
        }
    }
}
