.menu-page--la-note-enchantee
{
    background-color: $colour-menu1;

    h1
    {
        font-family: $font-menu1-title;
        color: $colour-menu1-title;
    }
    h2
    {
        font-family: $font-menu1-text;
    }
    &__bottom-title
    {
        display: flex;
        flex-direction: row;
    }
}
.dishes--la-note-enchantee
{
    font-family: $font-menu1-text;
}

.music-note
{
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        height: 1em;
        margin-bottom: 10px;
    }
    &--small
    {
        height: 3.5em;
        margin: auto 20px;
        @media screen and (max-width: 768px) {
            height: 1em;
            margin: auto 10px;
        }
    }
}