.menu-page--le-delice-des-papilles
{
    background-color: $colour-menu3;

    h1
    {
        font-family: $font-menu3-title;
        color: $colour-menu3-title;
    }
    h2
    {
        font-family: $font-menu3-text;
    } 
}


.dishes--le-delice-des-papilles
{
    font-family: $font-menu3-text;
}