$colour-primary: #579c87;
$colour-secondary: #fdcb46;
$colour-black: #000000;
$colour-white: #ffffff;
$colour-border: #e6e6e6;
$colour-menu1: #fcdfcb;
$colour-menu1-title: #000000;
$colour-menu2: #fff5fe;
$colour-menu2-title: #a367cb;
$colour-menu3: #edefef;
$colour-menu3-title: #0000ff;
$colour-menu4: #fdfffd;
$colour-menu4-title: #79c55a;